body {
    padding-top: 70px;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}

article {
    margin-bottom: 20px;
}

article .row {
    margin-bottom: 20px;
}

aside {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .heading-part .row {
        text-align: center;
    }

    .heading-part aside {
        margin-bottom: 15px;
    }
}